<div class="container-fluid">

  <h2 >Add Owner<h2>


    <form class="form-horizontal" [formGroup]="ownerForm"  (ngSubmit)="onSubmit(ownerForm.value)" >


      <div formGroupName="pet" class="form-group">

        <input type="text" id="id"class="form-control" formControlName="id">
        <input type="text" id="owner"class="form-control" formControlName="owner">
      </div>
      <div formGroupName="owner" class="form-group">
        <label for="owner" class="col-sm-2">Owner</label>
        <div class="col-sm-10">
          <input id="owner_name"  formControlName="firstName" type="text"
                 value="{{ currentOwner.firstName }} {{ currentOwner.lastName }}" readonly/>
        </div>

      </div>
    </form>

</div>
