<div class="container-fluid">
  <div class="container xd-container">

    <h2>
      Pet
    </h2>
    <form class="form-horizontal" (ngSubmit)="onSubmit(petForm.value)" #petForm="ngForm">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="pet.id" name="id"/>
        <input type="text" hidden="true" class="form-control" id="owner" [(ngModel)]="pet.owner" name="owner"/>
      </div>
      <div class="form-group">
        <label for="owner" class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner_name" name="owner_name" class="form-control" type="text"
                 value="{{ currentOwner.firstName }} {{ currentOwner.lastName }}" readonly/>
        </div>
      </div>
      <br/>
      <div class="form-group ">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input id="name" name="name" class="form-control" type="text" [(ngModel)]="pet.name"/>
        </div>
      </div>
      <div class="form-group ">
        <label class="col-sm-2 control-label">Birth Date</label>
        <input matInput [matDatepicker]="birthDateDatepicker" [ngModel]="pet.birthDate | date:'yyyy-MM-dd'" name="birthDate">
        <mat-datepicker-toggle matSuffix [for]="birthDateDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDateDatepicker></mat-datepicker>
      </div>
      <div class="control-group">
        <div class="form-group ">
          <label for="type" class="col-sm-2 control-label">Type </label>
          <div class="col-sm-10">
            <div class="col-sm-2">
              <input id="type1" name="type1" class="form-control" type="text" value="{{ currentType.name }}" readonly/>
            </div>
            <div class="col-sm-8">
              <select id="type" name="type" class="form-control" [(ngModel)]="currentType">
                <option *ngFor="let petType of petTypes"
                        [selected]="petType.id == currentType.id ? true : null"
                        [ngValue]="petType">{{ petType.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <br/>
          <button class="btn btn-default" type="button" (click)="gotoOwnerDetail(pet.owner)">< Back</button>
          <button class="btn btn-default" type="submit">Update Pet</button>
        </div>
      </div>
    </form>
  </div>
</div>
